# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.lc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# add myself
*.gz
UNIX网络编程-卷1-套接字联网API(第3版).pdf
